/**
 * @file
 * Style auto complete field, if tide auto complete is enabled.
 */
.ui-autocomplete {
  color: #444;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0 4px 4px 0;
  padding: 0 0 0 4px;
  max-height: 240px;
  max-width: 60%;
  -webkit-overflow-scrolling: touch;
}
